.title{
    font-style: 23px;
    font-weight: 700;
    
}
.daily-item{
    background-color: #7209b7;
    background-repeat: 15px;
    height: 40px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-style: 14px;
    padding: 5px 20px;
    border-radius: 20px;
    border:solid 1px rgba(255, 255, 255, 0.4);
}

.icon-small{
    width: 40px;
}

.daily-item .day{
    cursor: inherit;
    color: #43c6ee;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description{
    cursor:inherit;
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    text-transform: capitalize;
    color:#43c6ee;
}

.min-max{
    color:#43c6ee;
}

.daily-details-grid{
    grid-row-gap: 0;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    row-gap: 0;
    background-color:#7209b7;
    margin: 5px;
    border-radius: 20px;
    border:solid 1px rgba(255, 255, 255, 0.4);

}

.daily-details-grid-items{
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.daily-details-grid-item label:first-child{
    color:#43c6ee;
}
.daily-details-grid-item label:last-child{
    color:#43c6ee;
}